@charset "UTF-8";

/* Importação de fonts (google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* Variáveis */
:root {    
    --branco: #fff;
    --amarelo: #e5b567;
    --azul: #9cdcfe;
    --azulIcones: #0095e6;
    --azulMedio: #3b468c;
    --azulEscuro: #05152b;
    --cinzaClaro: #d6d6d6;
    --cinza: #858585;
    --cinzaescuro: #373738;
    --laranja: #e87d3e;
    --pink: #b05279;
    --pinkescuro: #462347;
    --roxo: #9e86c8;
    --roxoEscuro: #2c085a;
    --verde: #b4d273;
    --vermelho: #ff0000;
    --preto: #000;
}

/* CSS Reset (compatibilizar com todos navegadores) */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
html {
    /* rolagem suave */
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    /* 1em = 100% (tamanho padrão) */
    background-color: var(--cinzaescuro);
}

.container {
    margin: 0 auto;
    /* centralizar o bloco */
    display: flex;
    justify-content: space-between;

}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 700;
    background-color: var(--vermelho);
    width: 200px;
    padding: 10px 20px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
}

.card {
    width: 338px;
    height: 520px;
    margin-top: 25px;
    background-color: var(--azulMedio);
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h3 {
    margin-top: 15px;
    color: var(--branco);
}

.card p {
    text-align: left;
    color: var(--branco);
    padding: 10px 30px 50px 30px;
}

.card a {
    padding: 10px 100px;
    border: 0;
    background-color: var(--branco);
    color: var(--azulEscuro);
}

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Fim do Layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/****** Cabeçalho ******/
header {
    height: 65px;
    /* background-color: #00ffff;*/
}

#logo img {
    width: 128px;
    height: 128px;
}

#check {
    display: none;
}

/* Efeito "deslizar o menu" */
/* Se check estiver "ticado", crir um estilo para ul*/
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    /* transparência (0 a 1 (100%) */
    color: rgba(156, 220, 254, 0.9);
}

nav ul {
    list-style: none;
    background-color: rgba(15, 15, 15, 0.9);
    height: 100vh;
    position: fixed;
    top: 65px;
    right: -50%;
    width: 50%;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--cinza);
    text-align: right;
}

nav ul li a {
    color: var(--azul);
    /* remover sublinhado */
    text-decoration: none;
}

/****** Banner ******/
main {
    height: 60vh;
    /* ajuste da altura do Banner */
    background: url(img/banner2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    /* efeito de sombra nos textos */
    text-shadow: #000 0.05em 0.05em 0.05em;
}

main h1 {
    color: var(--amarelo);
    font-family: "Koulen", sans-serif;
    font-size: 2.9em;
}

main h2 {
    color: var(--branco);
    font-size: 2.2em;
    margin-top: 25px;
    font-weight: 800;
}

/******* Destaque *******/
#destaque {
    background: url(img/background.png);
    background-size: cover;
    background-position: center;
    /* espaçamento interno para não encostar na borda da tela do dispositivo */
    padding: 50px 15px;
}

/* Atenção!!! Organizando o container após o destaque o estilo é aplicado apenas ao container da seção de destaque */
#destaque .container {
    flex-direction: column;
    align-items: center;
}

/* Para esconder a imagem usamos "display: none" no container da imagem | Para exibir novamente em telas maiores, usamos "display: block" */
/*
#imagemDestaque {
    display: none;
}
*/
#imagemDestaque img {
    width: 200px;
    height: 200px;
    /* arredondar uma imagem quadrada */
    border-radius: 50%;
}

#textoDestaque {
    color: var(--branco);
}

#textoDestaque h2 {
    margin-bottom: 20px;
    color: var(--amarelo);
}

/* Atenção !!! Detalhe do sinal ">" ref. ao elemento imediato */
#textoDestaque>p {
    margin-bottom: 15px;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.topicos img {
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
}

/****** Sobre ******/
/* O estilo abaixo será aplicado apenas ao container que está subordinado a section "sobre" */
#sobre {
    background-color: var(--azulMedio);
    padding: 60px 15px;
}

#sobre .container {
    flex-direction: column;
}

#sobre h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: var(--amarelo);
}

#sobre p {
    color: var(--branco);
}

#video iframe {
    width: 340px;
    height: 191px;
    margin-top: 20px;
}

/****** Faixa de destaque ******/
#faixaDestaque {
    background: url(img/background.png);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
}

#faixaDestaque .container {
    flex-direction: column;
}

#imagemFaixa img {
    width: 256px;
    height: 256px;
}

#textoFaixa h2 {
    color: var(--amarelo);
    margin-bottom: 15px;
    font-size: 2em;
}

#textoFaixa p {
    margin-bottom: 50px;
    color: var(--branco);
}

/****** Seção de conteúdo (cards) ******/
#conteudo {
    padding: 50px 0px;
}

#conteudo .container {
    flex-direction: column;
    align-items: center;
}

#conteudo h2 {
    color: var(--amarelo);
    margin-bottom: 25px;
}

#todos {
    color: var(--amarelo);
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/****** Rodapé ******/
footer {
    background-color: var(--preto);
    padding: 50px 0px;
}


/* Fim | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /****** Layout ******/
    .container {
        max-width: 540px;
        /* background-color: #ffff00;*/
    }

    /****** Cabeçalho ******/
    nav ul {
        right: -25%;
        width: 25%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }

    /****** destaque ******/
    #destaque .container {
        flex-direction: row;
    }

    #imagemDestaque {
        margin-right: 50px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }

    /****** Sobre ******/
    #video iframe {
        width: 560px;
        height: 315px;
    }
}

/* Fim | Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /******* Layout ******/
    .container {
        max-width: 720px;
        /* background-color: #00ff00; */
    }

    /****** Banner ******/
    main {
        height: 80vh;
    }

    main h1 {
        font-size: 4em;
    }

    /****** Destaque ******/
    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }

    /****** Seção de conteúdo - cards ******/
    .card {
        margin: 25px 10px 0px 10px;
    }
}

/* Fim | Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /****** Layout ******/
    .container {
        max-width: 960px;
        /* background-color: #ffa500; */
    }

    /****** Banner ******/
    main {
        height: 70vh;
    }
}

/* Fim | Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /****** Layout ******/
    .container {
        max-width: 1140px;
        /* background-color: #ff009d; */
    }

    /****** Cabeçalho ******/
    header {
        height: 100px;
    }

    #logo img {
        width: 194px;
        height: 194px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        margin-top: 25px;
        width: 100%;
        height: auto;
        position: static;
        /* remover a cor do background */
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--azul);
    }

    nav ul li a:hover {
        color: var(--amarelo);
    }

    /****** Banner ******/
    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3em;
    }

    /****** Destaque ******/
    #destaque {
        /* O código abaixo fixa o banner (efeito parallax) */
        background-attachment: fixed;
    }

    /******* Sobre ******/
    #sobre .container {
        flex-direction: row;
        align-items: center;
    }

    #video iframe {
        margin: 0;
    }

    /***** Faixa de destaque ******/
    #faixaDestaque {
        background-attachment: fixed;
    }

    #faixaDestaque .container {
        flex-direction: row-reverse;
        align-items: center;
    }

    #imagemFaixa img {
        width: 350px;
        height: 350px;
    }

}

/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Telas Grandes (FullHD / 4K / SmartTV) >>>>>>>>>>>*/
@media (min-width: 1400px) {

    /****** Layout ******/
    .container {
        max-width: 1360px;
        /* background-color: #7d5b8c; */
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 6.5em;
    }

    main h2 {
        font-size: 4em;
    }
}

/* Fim | Telas Grandes (FullHD / 4K / SmartTV) >>>>>*/